body {
  margin: 0;
}

#bridgeContainer {
  width: 90vw;
  position: relative;
  text-align: center;
  font-family: Avenir, sans-serif;
}

#bridge {
  display: block;
  margin: 0;
  position: absolute;
  width: 100%;
  /* cursor: crosshair;
  cursor: url("paw-tail-1.png") 55 55, crosshair; */
  z-index: 2;
}

#bridgeContainer figcaption {
  margin-top: 2rem;
}
#thesvg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}
